{
  "presets": ["next/babel", "@babel/preset-env", "@babel/preset-typescript"],
  "plugins": [
    "@babel/plugin-transform-runtime",
    [
      "babel-plugin-styled-components",
      {
        "ssr": true
      }
    ]
  ],
  "env": {
    "production": {
      "plugins": [
        [
          "babel-plugin-styled-components",
          {
            "ssr": true,
            "displayName": false
          }
        ]
      ]
    }
  }
}
